
.active-tab{
    background-color: #c2e8fb !important;
    color: blue !important;
    border-color: #c2e8fb !important;
}

.active-toogle{
    color: #212121 !important;
}

.active-add-ons{
    background-color: #e2f2fc;
    border-color: #78cbd7;
}

.active-plan{
    background-color: #e2f2fc;
    border-color: #78cbd7;
}

.alert-input{
    border: 1px solid #ef4444 !important;
}

input.\[appearance\:textfield\]::-webkit-outer-spin-button,
input.\[appearance\:textfield\]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}